<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Do I Need A Haircut?</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <h1>Do I Need A Haircut?</h1>
    <p><a href="https://foursquare.com/oauth2/authenticate?client_id=ZZFVNTTUWTJQ0O5KJO3VS4R5H114RHOJSPM5MWIVPWWSTK12&amp;response_type=code&amp;redirect_uri=http://myfsq.herokuapp.com/redirect_uri"><img src="connect.png" /></a></p>
</body>
</html>